<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
</head>
<body>
    <form method="POST" action="/v1/auth/refresh">
      <p><input type="text" name="refreshToken" placeholder="refreshToken"/></p>
      <input type="submit" value="Refresh"/>
    </form>
</body>
<html>
